.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.img-wrapper{
  overflow:hidden;
}
img.hover-zoom:hover {
  transform: scale(1.25);
}

.sub-decsription{
  padding: 16px 0px!important;
  border-bottom: 1px solid gray;
}

.product-description-col1{
  padding: 32px 15px !important;
    margin: 10px 15px !important;
    border-bottom: 1px solid gray;
    
}

.product-description-colfin{
  padding: 32px 15px !important;
    margin: 10px 15px !important;
}

/* .h3{
  color: #033C02;
  font-size: 36px;
  font-weight: 500;
} */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
